

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="infos-ports">
        <ion-icon name="boat"></ion-icon>
        <ion-label>Ports</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="infos-balisage">
        <ion-icon name="flag"></ion-icon>
        <ion-label>Balisage</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="infos-beaufort">
        <ion-icon name="basket"></ion-icon>
        <ion-label>Beaufort</ion-label>
   </ion-tab-button>
   <ion-tab-button tab="infos-peche">
    <ion-icon name="basket"></ion-icon>
    <ion-label>Pêche</ion-label>
  </ion-tab-button>
</ion-tab-bar>
</ion-tabs>  
