<ion-item class="child-item" text-wrap detail="false" lines="none">
  <ion-row no-padding align-items-center>
    <ion-col size="9">
      <ion-row no-padding>
        <ion-col size ="12">
          <H3>{{echelledebeaufort.descriptif}}</H3>
        </ion-col>
        <ion-col size = "12">
          <p color = "medium">Vitesse en noeud : {{echelledebeaufort.vitesseNoeud}}</p>
          <p color = "medium">Vitesse en Km : {{echelledebeaufort.vitesseKm}}</p>
          <p color = "medium">Observation en mer : {{echelledebeaufort.observationEnMer}}</p>
          <p color = "medium">Observation a terre : {{echelledebeaufort.observationATerre}}</p>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-item>